

#data
data/*.zip
/data/radar_sample_images/
/data/radar_test/
data/*.csv


# clone models
/test.ipynb
/test3_jiwon.ipynb

# jw
/test.jpg
/Resized image test.jpg
sample_test
/datatest.ipynb
/loader_test.csv
radar_test

# sb
/data/concat.ipynb