/root/.vscode-server

#classficiation
/classification/model/Seoul_b7_epoch_7.pth

#data
data/*.zip
/data/radar_sample_images/
/data/radar_test/
/data/radar_full/
data/*.csv
data/*.ipynb
/data/data_radar
data/*.png
/data/images_classification
/data/data_Seoul
/data/data_Gangwon


# clone models
/test.ipynb
/test3_jiwon.ipynb

# jw
/test.jpg
/Resized image test.jpg
sample_test
/datatest.ipynb
/loader_test.csv
radar_test
test.py

# sb
/data/preprocess.ipynb
/data/data_seoul_only/
/data/data_seoul_only_v2/
/data/data_gangwon_only/
/data/data_gangwon_only_v2/
/data/Seoul/
/wandb/
data/Seoul/
data/Gangwon/
/test.py

#cb
/data/seoul_images/
/data/gangwon_images/
classification/log/
/data/*csv
__pycache__/
/.vscode-server/
/root/.vscode-server
